<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Splash Activity as the launcher -->
        <activity
            android:name=".Activities.SplashActivity"
            android:label="Splash Screen"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".Activities.DeleteUserActivity" />
        <activity android:name=".Activities.ChartActivity" />
        <activity android:name=".Activities.ForgetPasswordActivity" />
        <activity android:name=".Activities.ReportActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.DeleteCategoryActivity" />
        <activity android:name=".Activities.EditeProductActivity" />
        <activity android:name=".Activities.EditDeleteActivity" />
        <activity android:name=".Activities.AddCategoryActivity" />
        <activity
            android:name=".Activities.ProductsViewActivity"
            tools:ignore="MissingClass" />
        <activity android:name=".Activities.AddproductActivity" />
        <activity android:name=".Activities.AdminActivity" />

        <!-- Make sure RegisterActivity does not have the MAIN LAUNCHER filter -->
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver">
            <!-- No MAIN LAUNCHER filter here -->
        </activity>

        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".Allusers"
            tools:ignore="MissingClass" />

    </application>
</manifest>
